<!DOCTYPE html>
<html ng-app = 'myApp'>
  <head>
    <meta charset="utf-8">
    <title>Angular Template</title>
    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="scripts/client.js" type="text/javascript"></script>
    <link rel="stylesheet" href= "vendors/bootstrap.min.css"/>
    <link rel="stylesheet" href= "/stylesheets/main.css"/>
  </head>
  <body>
    <div id="title">
    <h1>Periodic Table of Elements</h1>
  </div>
    <table style="width:100%">
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>
    <th>11</th>
    <th>12</th>
    <th>13</th>
    <th>14</th>
    <th>15</th>
    <th>16</th>
    <th>17</th>
    <th>18</th>
  </tr>
  <!-- <div class="elements" ng-repeat= "element in elements"> -->
  <tr>
    <td id="nonMetal">H<br>Hydrogen</td>
    <td colspan="16"></td>
    <td>He</td>
  </tr>
  </div>
</table>
  </body>
</html>
